* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('./weather-bg.png');
  background-size: cover;  
  background-position: top center;
  background-repeat: no-repeat;
  height: 100vh;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;   
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px; 
  min-height: 80%;
  min-width: 60%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}

header input {
  width: 100%;
  padding: 15px;
  max-width: 300px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #3b6691;
  font-size: 20px;
  font-weight: 300;
  transition: 0.3s ease-in-out;
}

header input:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location .location__city {
  color: #fff;
  font-size: 30px;
  font-weight: 500;  
}

.location .location__date {
  color: #fff;
  font-size: 22px; 
  margin-bottom: 15px; 
}

.weather__icon img {
  width: 150px;
}

.weather .weather__temperature {
  color: #fff;
  font-size: 90px;
  font-weight: 700;  
  text-shadow: 3px 6px rgba(0, 0, 0, 0.5);
}

.weather .weather__temperature span{  
  font-weight: 500;  
}

.weather .weather__wind {
  color: #fff;
  font-size: 20px;
  font-weight: 500;  
  text-shadow: 2px 4px rgba(0, 0, 0, 0.5);
}

.weather .weather__now {  
  color: #fff;
  font-size: 30px;
  font-weight: 700;  
  text-shadow: 2px 3px rgba(0, 0, 0, 0.5);
}
